<section id="hero1" class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Ristorante Il Gambero Rosso</h1>
            <p>"Experience exquisite Italian cuisine at Ristorante Il Gambero Rosso, where flavor reigns supreme."</p>
            <div class="divBtn">
                <button routerLink="/products" class="btn btn-outline-light my-2 my-sm-0">Our Menu</button>
                <button routerLink="/form-table" class="btn btn-outline-light my-2 my-sm-0">Book a Table</button>
            </div>


        </div>
    </div>
</section>

<section class="content">
    <div class="inner">
        <div class="copy">
            <div>
                <h1>One Story...</h1>
                <p>Once upon a time, nestled in a quaint corner of the city, there was Ristorante Il Gambero Rosso. With
                    its
                    charming ambiance and tantalizing aromas, it lured both locals and tourists alike. The story of this
                    enchanting restaurant unfolded through its delectable dishes, lovingly crafted by skilled chefs.
                    From
                    the first bite of homemade pasta to the last sip of rich espresso, patrons were transported to the
                    heart
                    of Italy. With each visit, guests discovered new culinary delights, indulging in the flavors of
                    tradition and innovation. Ristorante Il Gambero Rosso became a cherished destination, where every
                    meal
                    was a memorable celebration of Italian gastronomy.</p>
            </div>
        </div>
    </div>
</section>

<section id="hero2" class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Unforgettable Events at Ristorante Il Gambero Rosso</h1>
            <p>You could probably fit in there ;)</p>
            <button routerLink="/form-event" class="btn btn-outline-light my-2 my-sm-0">Book an Event</button>
        </div>
    </div>
</section>

<section class="content">
    <div class="inner">
        <div class="copy">
            <h1>An inspiring quote</h1>
            <p>Ristorante Il Gambero Rosso, renowned for its exquisite cuisine, also excelled in hosting unforgettable
                events. With versatile spaces and meticulous planning, it catered to a range of occasions. From romantic
                weddings to corporate gatherings, guests experienced impeccable service and gourmet delights. The
                rooftop terrace offered breathtaking views for enchanting celebrations, while the spacious banquet hall
                exuded elegance. Ristorante Il Gambero Rosso created personalized experiences, leaving a lasting
                impression on all who attended.</p>
        </div>
    </div>
</section>

<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>